<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animes</title>
</head>
<body>
<h1>Animes</h1>

<h3>LIST ANIMES</h3>
<h4>/animes</h4>
<h3>COINSULT ANIME BY ID</h3>
<h4>/animes/{id}</h4>
<h3>DELETE ANIME BY ID</h3>
<h4>/animes/delete/{id}</h4>
<h3>SELECT ANIME BY NAME</h3>
<h4>/animes/name/{name}</h4>
<h3>SELECT ANIME BY SEASSON</h3>
<h4>/animes/season/{seasonNumber}</h4>
<h3>SELECT ANIME BY SEASSON LESS THAN</h3>
<h4>/animes/seassonLT/{seasonNumber}</h4>
</body>
</html>